.adPageContainer{
    background-color: rgb(247, 247, 247);
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    min-height: 100vh;
}

.adBigImageContainer{
    position: absolute;
    align-self: center;    
    width: 100%;
    margin-left: -20px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
}

.adBigImage{
    height: 100%;
    aspect-ratio: inherit;
    align-self: center;
}

.adPageTitle{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 5px;
}

.adPageLocation{
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
    width:fit-content
}

.adPageImageContainer{
    margin-top: 20px;
    width: 350px;
}

.adPageImage{
    width: 100%;
    aspect-ratio: 1
}

.extraPhotoContainer{
    width: 70px;
    margin-right: 5px;
    padding: 0;
    border: none;
    background-color: rgb(247, 247, 247);
}

.extraPhotoContainer:hover{
    cursor: pointer;
}

.extraPhoto{
    width: 100%;
    aspect-ratio: 1;
}

.adPageDescription{
    width: 70%;
    margin-top: 10px;
}

.adPagePrice{
    margin-top: 20px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 24px;
}